

{% extends 'topkalaTemplate/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<main class="main default">
    <div class="container">
        <!-- banner -->
        <div class="row banner-ads">
            <div class="col-12">
                <section class="banner">
                    <a href="#">
                        
                        <img src="{% static 'topkalaTemplate/assets/img/banner/banner.jpg' %}" alt="">
                    </a>
                </section>
            </div>
        </div>
        <!-- banner -->
        <div class="row">
            <aside class="sidebar col-12 col-lg-3 order-2 order-lg-1">
                <div class="sidebar-inner default">
                    
                    <div class="widget-services widget card">
                        <div class="row">
                            <div class="feature-item col-12">
                                <a href="#" target="_blank">
                                    <img src="{% static 'topkalaTemplate/assets/img/svg/return-policy.svg' %}">
                                    
                                </a>
                                <p>ضمانت برگشت</p>
                            </div>
                            <div class="feature-item col-6">
                                <a href="#" target="_blank">
                                    
                                    <img src="{% static 'topkalaTemplate/assets/img/svg/payment-terms.svg' %}">
                                </a>
                                <p>پرداخت درمحل</p>
                            </div>
                            <div class="feature-item col-6">
                                <a href="#" target="_blank">
                                    
                                    <img src="{% static 'topkalaTemplate/assets/img/svg/delivery.svg' %}">
                                </a>
                                <p>تحویل اکسپرس</p>
                            </div>
                            <div class="feature-item col-6">
                                <a href="#" target="_blank">
                                    
                                    <img src="{% static 'topkalaTemplate/assets/img/svg/origin-guarantee.svg' %}">
                                </a>
                                <p>تضمین بهترین قیمت</p>
                            </div>
                            <div class="feature-item col-6">
                                <a href="#" target="_blank">
                                    
                                    <img src="{% static 'topkalaTemplate/assets/img/svg/contact-us.svg' %}">
                                </a>
                                <p>پشتیبانی 24 ساعته</p>
                            </div>
                        </div>
                    </div>  

                    <div class="widget-suggestion widget card">
                        <header class="card-header">
                            <h3 class="card-title">پیشنهاد لحظه‌ای</h3>
                        </header>
                        <div id="progressBar">
                            <div class="slide-progress"></div>
                        </div>
                        <div id="suggestion-slider" class="owl-carousel owl-theme">
                            {% for product in recent_discounted_products %}
                            <div class="item">
                                <a href="#">
                                    <img src="{{ product.image.url }}" class="w-100" alt="{{ product.title }}">
                                </a>
                                <h3 class="product-title">
                                    <a href="#">{{ product.title }}</a>
                                </h3>
                                <div class="price">
                                    {% if product.old_price %}
                                    <del><span class="amount">{{ product.old_price|intcomma }}<span>تومان</span></span></del>
                                    {% endif %}
                                    <span class="amount">{{ product.new_price|intcomma }}<span>تومان</span></span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>


                </div>
            </aside>


            <div class="col-12 col-lg-9 order-1 order-lg-2">
                <section id="main-slider" class="carousel slide carousel-fade card" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for image in slider_images %}
                            <li data-target="#main-slider" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for image in slider_images %}
                            <div class="carousel-item{% if forloop.first %} active{% endif %}">
                                <a class="d-block" href="#">
                                    <img src="{{ image.image.url }}" class="d-block w-100" alt="">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#main-slider" role="button" data-slide="prev">
                        <i class="now-ui-icons arrows-1_minimal-right"></i>
                    </a>
                    <a class="carousel-control-next" href="#main-slider" data-slide="next">
                        <i class="now-ui-icons arrows-1_minimal-left"></i>
                    </a>
                </section>
                
                <section id="amazing-slider" class="carousel slide carousel-fade card" data-ride="carousel">
                    <div class="row m-0">
                        <ol class="carousel-indicators pr-0 d-flex flex-column col-lg-3">
                            {% for product in products %}
                            <li {% if forloop.first %}class="active"{% endif %} data-target="#amazing-slider" data-slide-to="{{ forloop.counter0 }}">
                                <span>{{ product.title }}</span>
                            </li>
                            {% endfor %}
                            <li class="view-all">
                                <a href="#" class="btn btn-primary btn-block hvr-sweep-to-left">
                                    <i class="fa fa-arrow-left"></i>مشاهده همه شگفت انگیزها
                                </a>
                            </li>
                        </ol>
                        
                        <div class="carousel-inner p-0 col-12 col-lg-9">
                            <img class="amazing-title" src="assets/img/amazing-slider/amazing-title-01.png" alt="">
                            
                            {% for product in products %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <div class="row m-0">
                                    <div class="right-col col-5 d-flex align-items-center">
                                        <a class="w-100 text-center" href="#">
                                            <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.title }}">
                                        </a>
                                    </div>
                                    <div class="left-col col-7">
                                        <div class="price">
                                            <del><span>{{ product.old_price }}<span>تومان</span></span></del>
                                            <ins><span>{{ product.new_price }}<span>تومان</span></span></ins>
                                            <span class="discount-percent">{{ product.discount_percent }} % تخفیف</span>
                                        </div>
                                        <h2 class="product-title">
                                            <a href="#">{{ product.title }}</a>
                                        </h2>
                                        <ul class="list-group">
                                            <li class="list-group-item">رنگ: {{ product.color }}</li>
                                            <li class="list-group-item">حافظه: {{ product.memory }} گیگابایت</li>
                                        </ul>
                                        <hr>
                                        <!-- <div classd="countdown-timer" countdown data-date="{{ product.countdown_date }}"> -->
                                        <div class="countdown-timer" countdown data-date="2023-12-31T23:59:59">

                                            
                                            <span data-days>0</span>:
                                            <span data-hours>0</span>:
                                            <span data-minutes>0</span>:
                                            <span data-seconds>0</span>
                                        </div>
                                        <div class="timer-title">زمان باقی مانده تا پایان سفارش</div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        
                    </div>
                </section>


            <!-- Display products from category2 -->
            <div class="row">
                <div class="col-12">
                    <div class="widget widget-product card">
                        <header class="card-header">
                            <h3 class="card-title">
                                <span>{{ category2 }}</span>
                            </h3>
                        </header>
                        <div class="product-carousel owl-carousel owl-theme">
                            {% for product in products_category2 %}
                            <div class="item">
                                <a href="#">
                                    <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.title }}">
                                </a>
                                <h2 class="post-title">
                                    <a href="#">{{ product.title }}</a>
                                </h2>
                                <div class="price">
                                    <ins><span>{{ product.new_price }}<span>تومان</span></span></ins>
                                </div>
                                <!-- Add other product details as needed -->
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Display products from category1 -->
            <div class="row">
                <div class="col-12">
                    <div class="widget widget-product card">
                        <header class="card-header">
                            <h3 class="card-title">
                                <span>{{ category1 }}</span>
                            </h3>
                        </header>
                        <div class="product-carousel owl-carousel owl-theme">
                            {% for product in products_category1 %}
                            <div class="item">
                                <a href="#">
                                    <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.title }}">
                                </a>
                                <h2 class="post-title">
                                    <a href="#">{{ product.title }}</a>
                                </h2>
                                <div class="price">
                                    <ins><span>{{ product.new_price }}<span>تومان</span></span></ins>
                                </div>
                                <!-- Add other product details as needed -->
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="brand-slider card">
                        <header class="card-header">
                            <h3 class="card-title"><span>برندهای ویژه</span></h3>
                        </header>
                        <div class="owl-carousel">
                            {% for brand in special_brands %}
                            <div class="item">
                                <a href="#">
                                    <img src="{{ brand.logo.url }}" alt="{{ brand.name }}">
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            



</main>

{% endblock %}