
{% extends 'topkalaTemplate/base_log_pass.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="main-content col-12 col-md-7 col-lg-5 mx-auto">
            <div class="account-box text-center">
                <a href="#" class="logo">
                    <img src="assets/img/logo.png" alt="">
                </a>
                <div class="account-box-title text-center">به تاپ کالا خوش آمدید</div>
                <div class="account-box-content">
                    <div class="account-box-message">
                        <i class="account-box-message-icon now-ui-icons users_single-02"></i>
                        <h3>حساب کاربری شما در تاپ کالا ساخته شد</h3>
                        <p>اکنون می‌توانید به صفحه‌ای که در آن بودید بازگردید و یا با تکمیل اطلاعات حساب کاربری
                            خود به کلیه امکانات و
                            سرویس‌های تاپ کالا و سرویس‌های وابسته به آن دسترسی داشته باشید</p>
                        <ul class="account-box-message-links">
                            <li>
                                <div class="parent-btn">
                                    <a href="#" class="dk-btn dk-btn-info">
                                        تکمیل حساب کاربری
                                        <i class="now-ui-icons users_single-02"></i>
                                    </a>
                                </div>
                            </li>
                            <li><a href="#" class="btn-link-border">بازگشت به صفحه‌ای که در آن بودید</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}